.todo {width: 95%;margin-bottom: 5%;margin-left: 2.5%;display: flex;align-items: center;justify-content: space-between;position: relative;}
.iframe {width: 100%;height: 450px;border: 0;}
.contacto {position: absolute;background-color: rgba(169, 0, 0, 0.8);color: white;padding: 20px;
    width: auto;box-sizing: border-box;top: 0%;left: 5%;height: (max-content);}
.contacto h2 { margin-top: 0;}
.contacto p {margin: 10px 0;}
.h1{text-align: center;padding: 2%0%;text-decoration: underline;}
/* Ajustes para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
.todo {display: block;}
.contacto{position: static;}
.contacto h2 {
    font-size: 1.1rem; /* Reducir más el tamaño de fuente del título */
  }

  .contacto p {
    font-size: 0.8rem; /* Reducir más el tamaño de fuente de los párrafos */
  }

  .h1 {
    font-size: 1.5rem; /* Reducir más el tamaño de fuente del encabezado */
  }
}